.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    display: grid;
    grid-template-columns: auto;
    text-align: center;

    > h1 {
        display: block;
        font-size: 3rem;
    }

    .return-home {
        display: block;
        font-size: 2rem;
        color: teal;
    }
}
